@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;300;500;800&display=swap");

/* Setting all font sizes */
:root {
	--big-font-size: 2em;
	--h2-font-size: 1.25em;
	--h3-font-size: 1.155em;
	--normal-font-size: 0.925em;
	--small-font-size: 0.853em;
	--smaller-font-size: 0.8em;
}

/* Setting all page's colors */
:root {
	--slider-color: rgb(16, 16, 16);
	--back-color: rgb(234, 234, 234);
	--back-second: rgb(243, 243, 195);
	--color-btn: rgb(212, 180, 71);
	--first-color: rgb(223, 192, 79);
	--font-stroke-color: rgb(181, 145, 35);
	--font-black: rgb(0, 0, 0);
}

/* Setting all font's weigths */
:root {
	--font-bold: 800;
	--font-med: 500;
	--font-small: 300;
	--font-smaller: 100;
}

* {
	/* border: 1px solid red; */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

html {
	overflow-x: hidden;
}

/* Animation of an object appearing as a lung breathing :) */
@keyframes appear-breath {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: scale(100%);
	}
}

@keyframes header-animation {
	0% {
		opacity: 0;
		transform: translate(0, -200%);
	}
	100% {
		opacity: 0.7;
		transform: translate(0, 0);
	}
}

@keyframes slider-animation {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, -200%);
	}
}

@keyframes elipse {
	0% {
		translate: (0, 0);
	}
	50% {
		translate: (10%, 30%);
	}
	100% {
		translate: (0, -10%);
	}
}

body {
	font-family: "Archivo", sans-serif;
	font-size: var(--normal-font-size);
	color: var(--font-black);
	background-color: var(--back-color);
	margin: 2em 0 0 0;
	overflow-x: hidden;
}

section {
	width: 100%;
	height: 100vh;
	/* position: relative; */
}

.slider {
	z-index: 100;
	background-color: var(--slider-color);
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(0, -200%);
	animation: slider-animation 3s linear;
}

.slider__logo {
	width: 100px;
	height: auto;
	animation: appear-breath 1.125s ease-in;
	border-radius: 5px;
}

.elipse-light {
	position: absolute;
	z-index: -1;
	width: 150vh;
	height: 1300px;
	left: -600px;
	top: -500px;
	background: radial-gradient(
		33.91% 33.91% at 49.96% 50.04%,
		rgb(241, 203, 174) 0%,
		rgba(167, 106, 255, 0) 100%
	);
	filter: blur(99.5px);
	animation: elipse 3s infinite;
}

.elipse-light:nth-child(2) {
	left: auto;
	right: -500px;
	top: 500px;
}

.elipse-light:nth-child(3) {
	left: auto;
	left: -500px;
	top: 1500px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: fixed;
	top: 0;
	margin-top: 30px;
	padding: 0 65px;
	animation: header-animation 2s linear 0.5s;
}

#logo--black {
	width: 50px;
	border-radius: 5px;
}

.navbar__menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu__checkbox {
	display: none;
}

.menu__hamb {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: var(--color-btn);
	cursor: pointer;
}

.hamb__line {
	position: relative;
	height: 2px;
	width: 30px;
	background-color: var(--font-black);
	transition: all 0.5s ease-in-out;
}

.hamb__line::before,
.hamb__line::after {
	content: "";
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: var(--font-black);
	transition: all 0.5s ease-in-out;
}

.hamb__line::before {
	top: -10px;
}

.hamb__line::after {
	top: 10px;
}

.menu__list {
	display: none;
}

#menu__checkbox:checked ~ .menu__hamb .hamb__line {
	transform: rotate(45deg);
	transition: all 0.5s ease-in-out;
}

#menu__checkbox:checked ~ .menu__hamb .hamb__line::before,
#menu__checkbox:checked ~ .menu__hamb .hamb__line::after {
	transform: rotate(90deg);
	top: 0;
	transition: all 0.5s ease-in-out;
	height: 2px;
}

.main-layer {
	padding: 0 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-layer__vision {
	position: absolute;
	top: 55px;
	right: 170px;
	font-size: var(--h2-font-size);
	font-weight: var(--font-small);
}

.main-layer__vision span {
	color: var(--first-color);
}

.main-layer__title {
	z-index: 1;
	text-align: center;
	max-width: 900px;
	font-size: 3em;
	font-weight: var(--font-bold);
	color: var(--font-black);
	font-family: Archivo, sans-serif;
	transition: all 0.25s;
}

.title__span {
	font-weight: var(--font-bold);
	color: var(--first-color);
	transition: all 0.25s;
}

.main-layer__banner {
	z-index: 1;
	width: 30%;
	min-width: 350px;
	height: auto;
}

.main-layer__powerbi {
	position: absolute;
	height: auto;
	min-width: 400px;
	max-width: 550px;
	border-radius: 50px;
	border: 4px solid var(--font-stroke-color);
	filter: blur(3px) brightness(50%);
	overflow: hidden;
	transition: all 0.5s;
}

.powerbi__dashboard {
	max-height: 100%;
	max-width: 100%;
}

.main-layer__powerbi:nth-child(1) {
	top: 30vh;
	left: 15vw;
}

.main-layer__powerbi:nth-child(2) {
	top: 35vh;
	right: 15vw;
}

.main-layer__powerbi:hover {
	filter: blur(0.5px) brightness(95%);
	max-width: 800px;
	transition: all 0.5s;
	z-index: 2;
}

.nav__list {
	position: absolute;
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about__title-container {
	background-image: url("../ProyectoIntegradorWeb/assets/powerbi_landscape.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 70%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.about__title {
	font-size: 5em;
	font-weight: var(--font-bold);
	color: var(--font-black);
	font-family: Archivo, sans-serif;
	transition: all 0.25s;
	transform: skewY(-10deg);
	backdrop-filter: blur(10px);
}

.about__title-descrp {
	font-size: 1.5em;
	font-weight: var(--font-medium);
	color: var(--font-black);
	font-family: Archivo, sans-serif;
	transition: all 0.25s;
	backdrop-filter: blur(10px);
}

.about__career {
	margin: 30px 0;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	flex-wrap: wrap;
	gap: 30px;
	border-radius: 30px;
	border: 2px solid #ff7337;
	background-color: #ff733721;
}

.career__title {
	padding: 20px 0;
	text-align: center;
	font-size: 4em;
	font-weight: var(--font-bold);
	color: var(--font-black);
	font-family: Archivo, sans-serif;
	transition: all 0.25s;
	width: 400px;
}

.career__descrp {
	text-align: center;
	min-width: 50%;
	font-size: 1.5em;
	font-weight: var(--font-medium);
	color: var(--font-black);
	font-family: Archivo, sans-serif;
	transition: all 0.25s;
	width: 400px;
}

.career__descrp span {
	font-weight: var(--font-medium);
	color: var(--font-stroke-color);
}

.cards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.cards__title {
	text-align: center;
	font-size: 4em;
	font-weight: var(--font-bold);
	color: var(--font-black);
	font-family: Archivo, sans-serif;
	transition: all 0.25s;
	width: 400px;
	border-bottom: 5px solid #ff7337;
}

.cards__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
	width: 80%;
}

.card {
	border: 1px solid var(--font-stroke-color);
	width: 15%;
	min-width: 300px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px 30px;
	border-radius: 30px;
	border: 2px solid #ff7337;
	background-color: #ff733721;
	gap: 10px;
	text-align: center;
}

.card i {
	font-size: var(--big-font-size);
	/* color: var(--font-stroke-color); */
}

.card__image {
	width: 100%;
	height: 200px;
	border-radius: 30px;
}

.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.contact__time {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
}

.time__image {
	width: 100%;
	max-height: 70%;
}

.time__info {
	border: 3px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 30%;
	width: 100%;
	border-radius: 0 0 20px 20px;
}

.time__name {
	font-size: var(--big-font-size);
}

.time__descrp {
	font-size: 1.2em;
	position: relative;
}

.time__descrp::before {
	content: "";
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: #ff7337;
	position: absolute;
	top: 25%;
	left: -5%;
}

.contact__card {
	border: 3px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	border-radius: 20px;
	width: 50%;
	height: 350px;
	padding: 30px;
	gap: 30px;
}

.contact__title {
	font-size: 3em;
	font-weight: var(--font-small);
}

.contact__descrp {
	font-size: var(--big-font-size);
	font-weight: var(--font-smaller);
}

.contact__info {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.info__greeting {
	font-size: var(--big-font-size);
	font-weight: var(--font-medium);
}
.info__greeting::after {
	content: "👋";
}

.info__mail {
	text-decoration: none;
	color: var(--font-black);
	font-size: var(--h2-font-size);
	border: 3px solid var(--font-stroke-color);
	padding: 10px 20px;
	border-radius: 10px;
	transition: all 0.25s;
}

.info__mail:hover {
	background-color: var(--font-stroke-color);
	color: var(--font-white);
	border: 3px solid var(--font-black);
	transition: all 0.25s;
}
